
NEXT_PUBLIC_SUPABASE_URL=https://tbtflmuczksigfccsqwm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRidGZsbXVjemtzaWdmY2NzcXdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA3NzM5NzksImV4cCI6MjA1NjM0OTk3OX0.9begqWNyY3YD1vboZbXFkdTC7DGXZlkDApMMGKeiYv0
            